@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after,
*:focus {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
}

:root {
 font-size: 62.5%;
}

body {
 font-family: 'Prompt',
  sans-serif;
 -webkit-font-smooth: antialiased;
 background-color: #F0EFED;
}

header {
  width: 100%;
  height: 69vh;
  background-image: url(./images/hero-banner.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}

nav {
  position: sticky;
  top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1A2456;
  padding: .3rem;
  box-sizing: border-box;
  z-index: 9;
}

nav ul {
  display: flex;
  list-style-type: none;
}

.left-nav {
  display: flex;
}

.main-right-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-nav ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 2.5rem;
}

.bag {
  padding-right: .5rem;
  padding-left: 2.5rem;
}

.fa-sort-down {
  position: relative;
  top: -2px;
}

.item5 a {
  font-weight: 800;
  color: #ffd5be;
}

a {
  text-decoration: none;
  color: #eecab7;
  font-size: 12px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 2px;
}

.item2 a:hover {
  color: whitesmoke;
}

.left-nav img:hover,
.bag:hover {
  filter: invert(59%) sepia(3%) saturate(5547%) hue-rotate(317deg) brightness(94%) contrast(88%);
}

a:hover {
  color: rgb(219, 101, 124);
}

.left-nav img,
.bag {
  filter: invert(87%) sepia(8%) saturate(1795%) hue-rotate(316deg) brightness(98%) contrast(90%);
}

.item6 {
  filter: invert(87%) sepia(8%) saturate(1795%) hue-rotate(316deg) brightness(98%) contrast(90%);
}

.empty-container {
  width: 30vw;
}

.h-container {
  width: 100%;
  height: 48vh;
  display: flex;
  position: relative;
  top: 11vh;
  justify-content: center;
  align-items: center;
  color: #1A2456;
}


.h-sub-container h1 {
  font-size: 37.5px;
  line-height: 45px;
  letter-spacing: 4px;
  font-weight: 600;
}

.h-sub-container p {
  font-size: 18.75px;
  line-height: 28px;
  letter-spacing: normal;
  font-weight: 300;
  margin-top: 15px;
}

.menu-line1 {
  width: 25px;
  height: 3px;
  background-color: #EFC2B3;
  margin-bottom: 5px;
  transition: 1.5s;
}

.menu-line2 {
  width: 25px;
  height: 3px;
  background-color: #EFC2B3;
  margin-bottom: 5px;
  transition: 1.5s;
}

.menu-line3 {
  width: 25px;
  height: 3px;
  background-color: #EFC2B3;
  transition: 1.5s;
}

input {
  display: none;
}

label {
  display: none;
  position: fixed;
  top: 30px;
  right: 90px;
  z-index: 10;
}

.drop-down-nav {
  background-color: #1A2456;
  opacity: 0;
  transition: 1s ease-in-out;
  position: fixed;
  top: 60px;
  right: 16.5px;
  padding: 2vh;
  border-radius: 5px;
  height: 29vh;
  z-index: 10;
}

.drop-down-nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.drop-down-nav ul li {
  margin-top: 2vh;
}

.fa-caret-down {
  font-size: 4rem;
  color: #1A2456;
  transition: 1s ease-in-out;
  text-shadow: 0px 15px 5px rgba(0, 0, 0, 0.1),
      10px 20px 5px rgba(0, 0, 0, 0.596),
      -10px 20px 5px rgba(0, 0, 0, 0.05);
}

.fa-caret-down:hover {
  transform: translateY(10px) scale(1.2);
  color: rgb(212, 123, 6);
}

/* @media screen and (max-width:1000px) {
  .right-nav {
      display: none;
  }

  input:checked~header .drop-down-nav {
      opacity: 1;
      transform: translatey(5px);
  }

  input:checked~label .menu-line1 {
      transform: translatey(15px);
      background-color: #E6AA25;
  }

  input:checked~label .menu-line2 {
      transform: rotate(180deg);
      background-color: #ffffff;
  }

  input:checked~label .menu-line3 {
      background-color: #F26039;
      transform: translatey(-15px);
  }

  label {
      display: block;
  }

  .section2 .s-2-wrapper {
      width: 100%;
      height: 50vh;    
  }

  .section2 .s-2-wrapper h1{
      font-size: 4vw;
      letter-spacing: 2px;
      margin-bottom: 1vh;

   }

   .section2 .s-2-wrapper p {
    font-size: 3vw;
   }

}


@media screen and (max-width:800px) {

  .h-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .h-sub-container {
      background-color: rgba(255, 255, 255, 0.267);
      border-radius: 10px;
      padding: 10px;
  }

  .empty-container {
      display: none;
  }

  .h-sub-container h1 {
      font-size: 35px;
      line-height: 40px;
  }

  .h-sub-container p {
      font-size: 18px;
      line-height: 10px;
  }

  .top-section {
      display: flex;
      flex-direction: column;
  }

  .top-section .image {
      width: 100%;
  }

  .right-section .image2 {
      width: 100%;
  }

  .section2 .s-2-wrapper {
      width: 100%;
      height: 50vh;    
  }

  .section2 .s-2-wrapper h1{
     font-size: 4vw;
     letter-spacing: 2px;
     margin-bottom: 1vh;

  }

  .section2 .s-2-wrapper p {
   font-size: 3vw;
  }

}

@media screen and (max-width:600px) {

  .h-container {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .h-sub-container {
      background-color: rgba(255, 255, 255, 0.267);
      border-radius: 10px;
      padding: 10px;
  }

  .empty-container {
      display: none;
  }

  .h-sub-container h1 {
      font-size: 25px;
      line-height: 25px;
  }

  .h-sub-container p {
      font-size: 15px;
      line-height: 10px;
  }

} */



/* ++++++++++section ++++++++++++*/
section {
  padding: 2.5vw 5vw;
  margin: auto;
  width: 70vw;
  display: flex;
  flex-direction: column;
  font-weight: 300;
  font-size: 13.5px;
  line-height: 20.25px;
  letter-spacing: normal;
}

h1 {
  font-size: 18.75px;
  line-height: 22.5px;
  letter-spacing: 1.5px;
  font-weight: 600;
}

h3 {
  font-size: 15px;
  line-height: 22.5px;
  letter-spacing: normal;
  font-weight: 300;
}

.top-section {
  display: flex;
}

.image {
  width: 29.5vw;
  height: 35.73vh;
  background-position: center;
  background-size: cover;
  background-image: url(./images/top-card-1.jpeg);
}

.image2 {

  width: 29.5vw;
  height: 35.73vh;
  background-position: center;
  background-size: cover;
  background-image: url(./images/top-card-2.jpeg);
}

.image3 {

  width: 60vw;
  height: 45vh;
  background-position: center;
  background-size: cover;
  background-image: url(./images/top-card-3.jpeg);
}




.sub-l-s {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-section {
  padding-right: .5vw;
  padding-bottom: 2vh;
}

.right-section {
  padding-left: .5vw;
}

section .top-section .left-section .image:hover {
  background-image: url(./images/top-card-1-a.jpeg);
  background-size: cover;
}

section .top-section .right-section .image2:hover {
  background-image: url(./images/top-card-2-a.jpeg);
  background-size: cover;
}

section .bottom-section .image3:hover {
  background-image: url(./images/top-card-3-a.jpeg);
  background-size: cover;
}

section .top-section .right-section:hover .item2 .sub-l-s h2 {
  opacity: 1;
}

section .top-section .left-section:hover .item2 .sub-l-s h2 {
  opacity: 1;
}

section .bottom-section:hover .item2 .sub-l-s h2 {
  opacity: 1;
}

/* +++++++SHOP NOW++++++++++++ */

.sub-l-s h2 {
  font-weight: 500;
  font-size: 11.25px;
  background-color: #1A2456;
  color: white;
  letter-spacing: 1px;
  padding: 5px 15px;
  border-radius: 50px;
  position: absolute;
  top: 2px;
  right: -3px;
  opacity: 0;
}


.item2 .sub-l-s {
  position: relative;
}

/* +++++++++++section2 +++++++++++++*/
/* 
.section2 {
  width: 100%;
  height: 50vh;
  background-color: #C4C4C4;
  display: flex;
  justify-content: center;
}

.s-2-wrapper {
  width: 60%;
  height: 50vh;
  background-image: url(./assets/shop-banner-module.jpg);
  background-size: 100% 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.s-2-wrapper h1 {
  font-size: 4vh;
  line-height: 45px;
  letter-spacing: 4px;
  color: #1a2456;
  margin-bottom: 2vh;
  margin-top: 4vh;
}

.s-2-wrapper p {
  font-size: 18.75px;
  line-height: 28.125px;
  letter-spacing: normal;
  color: #1a2456;
  font-weight: 300;
}
 */


/* +++++++++++++++++++++++++++++ */
/* MIDDLE  SECTION BANNER */
/* +++++++++++++++++++++++++++++ */
.full-width-section {
 max-width: 100%;
 min-height: 22rem;
 background-color: #C4C4C4;
}

.fws__content {
 max-width: 100%;
 display: flex;
 align-items: flex-end;
 padding-top: 15rem;
 position: relative;
}

.fws__image {
 width: 100%;
 padding-top: 46%;
 background-image: url(images/15.jpeg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center bottom;
}

.fws__data {
 width: 100%;
 height: 100%;
 padding-top: 4rem;
 position: absolute;
 top: 0;
 left: 0;
}

.fws__data h2 {
 color: #1a2456;
 font-size: 3.8rem;
 font-weight: 600;
 line-height: 4.5rem;
 letter-spacing: .4rem;
 text-align: center;
}

.fws__data p {
 color: #1a2456;
 font-size: 1.9rem;
 font-weight: 300;
 margin-top: 1rem;
 line-height: 2.8rem;
 text-align: center;
}



/* +++++++++++++++++++++++++++++ */
/* PRODUCTS SECTION */
/* +++++++++++++++++++++++++++++ */
.products-section {
 background-color: #F0EFED;
 width: 100%;
}

.ps-container {
 margin: 0 auto;
 padding-block: 5rem;

 display: flex;
 flex-wrap: wrap;
}

.card {
 width: 100%;
 padding-inline: 1.5rem;
 flex-basis: 100%;
}

.card:nth-of-type(n+4) {
 margin-block-start: 2rem;
}

.card .card__image {
 width: 100%;
 padding-top: 101%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 transition: all 0.7s ease;
 -webkit-transition: all 0.7s ease;
 -moz-transition: all 0.7s ease;
 -ms-transition: all 0.7s ease;
 -o-transition: all 0.7s ease;
}

.card .card__image:hover {
 width: 100%;
 padding-top: 101%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 transition: all 0.7s ease;
 -webkit-transition: all 0.7s ease;
 -moz-transition: all 0.7s ease;
 -ms-transition: all 0.7s ease;
 -o-transition: all 0.7s ease;
}

/* IMAGE 1 */
.ps-card-1 .card__image {
 background-image: url(images/card-1.jpeg);
}

.ps-card-1 .card__image:hover {
 background-image: url(images/card-1-b.jpeg);
}

/* IMAGE 2 */
.ps-card-2 .card__image {
 background-image: url(images/card-2.jpeg);
}

.ps-card-2 .card__image:hover {
 background-image: url(images/card-2-b.jpeg);
}

/* IMAGE 3 */
.ps-card-3 .card__image {
 background-image: url(images/card-3.jpeg);
}

.ps-card-3 .card__image:hover {
 background-image: url(images/card-3-b.jpeg);
}

/* IMAGE 4 */
.ps-card-4 .card__image {
 background-image: url(images/card-4.jpeg);
}

.ps-card-4 .card__image:hover {
 background-image: url(images/card-4-b.jpeg);
}

/* IMAGE 5 */
.ps-card-5 .card__image {
 background-image: url(images/card-5.jpeg);
}

.ps-card-5 .card__image:hover {
 background-image: url(images/card-5-b.jpeg);
}

/* IMAGE 6 */
.ps-card-6 .card__image {
 background-image: url(images/card-6.jpeg);
}

.ps-card-6 .card__image:hover {
 background-image: url(images/card-6-b.jpeg);
}


.card__data {
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding-block: 1rem;
}

.card__data--name h3 {
 font-size: 1.9rem;
 font-weight: 600;
 line-height: 2.3rem;
 letter-spacing: 0.15rem;
 color: #1a2456;
}

.card__data--price {
 min-width: 30%;
 position: relative;
 text-align: right;
}


.card__data--price .card__data__btn {
 position: absolute;
 top: 0;
 right: 0;

 border-radius: 5rem;
 border: none;
 background-color: #080b1b;
 opacity: 0;
 transition: all 0.5s ease;

}

.card:hover .card__data__btn {
 opacity: 1;
 transition: all 0.5s ease;

}

.card__data--price .btn p {
 font-size: 1.1rem;
 line-height: 1.7rem;
 font-weight: 600;
 padding: .5rem 1.5rem;
 color: #fff;
}

.card__data--price p {
 font-size: 1.5rem;
 font-weight: 300;
 line-height: 2.3rem;
 color: #1a2456;
}

.ps-card-4 .card__data--price .new-price {
 float: left;
 padding-left: 3rem;
 color: #ff8b68;
}



/* +++++++++++++++++++++++++++++ */
/* FOOTER SECTION */
/* +++++++++++++++++++++++++++++ */
.footer {
 width: 100vw;
 background-color: #1a2456;
}

.container {
 position: relative;
}

.footer-wrapper {
 padding: 4rem 0 10rem 0;

 display: flex;
 flex-wrap: wrap;
}


.footer__col {
 padding-inline: 2rem;
 flex-basis: 16.666666%;
}

.fw__col-5 {
 flex-basis: 33.333333%;
}


.footer__headers {
 color: #efc2b3;
 font-weight: 600;
 line-height: 1.6rem;
 font-size: 1rem;
 text-transform: uppercase;
 letter-spacing: .1rem;
}

footer a,
.address {
 color: #fff;
 font-size: 1.4rem;
 font-weight: 300;
 line-height: 2rem;
 color: #efc2b3;
 text-decoration: none;
}

footer a:hover {
 text-decoration: underline;
 color: #ff8b68;
 transition: 0.3s;
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 -ms-transition: 0.3s;
 -o-transition: 0.3s;
}

.list-menu,
.address {
 padding-top: 1.5rem;
}

.footer li {
 list-style-type: none;
 padding-bottom: .5rem;
}

.fw__col-5__subtitle,
.fw__col-5__copyrights {
 font-size: 1.4rem;
 font-weight: 300;
 line-height: 2rem;
 color: #efc2b3;
 padding-top: 1.2rem;
 text-transform: none;
 letter-spacing: 0;
}

.fw__col-5__copyrights {
 padding-bottom: 1.2rem;
}

.fw__col-5 {
 order: 1;
 flex-basis: 100%;
 /* position: relative; */
}

.form {
 margin-top: 1rem;
 display: flex;
 margin-bottom: 1rem;
}

.form__input {
 flex-grow: 1;
}

input[type="email"] {
 font-size: 1.4rem;
 padding: .5rem;
 line-height: 1.4rem;
 height: 3rem;
 width: 100%;
 background-color: transparent;
 border: thin solid #efc2b3;
}

.submit-btn {
 padding: .75rem 2.2rem;
 border: none;
 border-radius: 5rem;
 text-transform: uppercase;
 font-size: 1.1rem;
 font-weight: 600;
 background-color: #A48A92;
 letter-spacing: .1rem;
 margin-left: 1rem;
 cursor: pointer;
 transition: all 0.3s;
}

.submit-btn:hover {
 background-color: #ff8b68;
 transition: all 0.3s;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 -ms-transition: all 0.3s;
 -o-transition: all 0.3s;
}

.social {
 display: flex;
 justify-content: space-between;
 margin-top: 1.8rem;
}

.social__li .bx {
 font-size: 3rem;
 transition: linear 0.3s;
 -webkit-transition: linear 0.3s;
 -moz-transition: linear 0.3s;
 -ms-transition: linear 0.3s;
 -o-transition: linear 0.3s;
}

.social__li {
 margin-right: 1rem;
}


small {
 font-size: .9rem;
}

.fw__col-5__copyrights a {
 color: #ff8b68;
 font-size: .9rem;
}

.fw__col-5__copyrights a:hover {
 color: #ff501c;
}

.fw__col-5 .form {
 display: flex;
 flex-wrap: wrap;
}

.fw__col-1 {
 order: 2;
 flex-basis: 50%;
 margin-top: 2rem;

}

.fw__col-2 {
 order: 3;
 flex-basis: 50%;
 margin-top: 2rem;

}

.fw__col-3 {
 order: 4;
 flex-basis: 50%;
 margin-top: 2rem;
}

.fw__col-4 {
 order: 5;
 flex-basis: 50%;
 margin-top: 2rem;
}




/* +++++++++++++++++++++++++++++ */
/* MEDIA QUERIES */
/* +++++++++++++++++++++++++++++ */
@media only screen and (min-width: 576px) {

 /* MIDDLE BANNER */
 .container {
  max-width: 54rem;
  margin-inline: auto;
  padding-inline: 2.2rem;
 }


 /* PRODUCTS SECTION */
 /* .container {
   max-width: 54rem;
   padding-inline: 2.2rem;
  } */

 .card {
  width: 100%;
  padding-inline: 2.2rem;
  flex-basis: 100%;
  margin-block-start: 2rem;
 }


 /* FOOTER SECTION */
 .fw__col-1 {
  order: 2;
 }

 .fw__col-2 {
  order: 3;
 }

 .fw__col-3 {
  order: 4;
  margin-top: 2rem;
 }

 .fw__col-4 {
  order: 5;
  margin-top: 2rem;

 }

 .fw__col-5 {
  order: 1;
 }

 .footer__col {
  padding-inline: 2rem;
  flex-basis: 50%;
 }

 .fw__col-5 {
  flex-basis: 100%;
 }

 .footer__headers {
  color: #ff501c;
 }

 .list-menu,
 .address {
  padding-top: .5rem;
 }

 .social {
  margin-bottom: 1rem;
  justify-content: space-around;
 }
}

@media only screen and (min-width: 768px) {

 /* MIDDLE BANNER */
 .fws__image {
  padding-top: 32%;
 }

 .container {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 2.2rem;
 }


 /* PRODUCTS SECTION */
 /* .container {
   max-width: 72rem;
   padding-inline: 2.2rem;
  } */

 .card {
  max-width: 50%;
  flex-basis: 50%;
  margin-block-start: 2rem;
  padding-inline: .5rem;
 }


 /* FOOTER SECTION */
 .fw__col-1 {
  order: 1;
  margin-top: 0;
 }

 .fw__col-2 {
  order: 3;
 }

 .fw__col-3 {
  order: 4;
 }

 .fw__col-4 {
  order: 5;
 }

 .fw__col-5 {
  order: 2;
 }

 .footer__col {
  padding-inline: 2rem;
  flex-basis: 33.333333%;
 }

 .fw__col-5 {
  flex-basis: 66.666666%;
 }
}

@media only screen and (min-width: 992px) {

 /* MIDDLE BANNER */
 .container {
  max-width: 96rem;
  margin-inline: auto;
  padding-inline: 2.2rem;
 }


 /* PRODUCTS SECTION */
 /* .container {
   max-width: 96rem;
   padding-inline: 2.2rem;
  } */

 .card {
  max-width: 50%;
  flex-basis: 50%;
  margin-block-start: 2rem;
  padding-inline: 2rem;
 }



 /* FOOTER SECTION */
 .fw__col-1 {
  order: 1;
 }

 .fw__col-2 {
  order: 1;
  margin-top: 0;

 }

 .fw__col-3 {
  order: 1;
  margin-top: 0;
 }

 .fw__col-4 {
  order: 1;
  margin-top: 0;

 }

 .fw__col-5 {
  order: 1;
 }

 .footer__col {
  padding-inline: 2rem;
  flex-basis: 16.666666%;
 }

 .fw__col-5 {
  flex-basis: 33.333333%;
 }
}

@media only screen and (min-width: 1200px) {

 /* MIDDLE BANNER */
 .container {
  max-width: 114rem;
  margin-inline: auto;
  padding-inline: 2.2rem;
 }


 /* PRODUCTS SECTION */
 /* .container {
   max-width: 114rem;
   padding-inline: 2.2rem;
  } */

 .card {
  max-width: 33.3333%;
  flex-basis: 33.3333%;
  margin-block-start: 2rem;
  padding-inline: 2rem;
 }

 /* FOOTER SECTION */
 /* .footer-wrapper {
    max-width: 114rem;
    margin-inline: auto;
    padding-inline: 2.2rem;
   } */
}
