@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after,
*:focus {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 outline: none;
}

:root {
 font-size: 62.5%;
}

body {
 font-family: 'Prompt',
  sans-serif;
 -webkit-font-smooth: antialiased;
 background-color: #F0EFED;
}



/* +++++++++++++++++++++++++++++ */
/* MIDDLE  SECTION BANNER */
/* +++++++++++++++++++++++++++++ */
.full-width-section {
 max-width: 100%;
 min-height: 22rem;
 background-color: #C4C4C4;
}

.fws__content {
 max-width: 100%;
 display: flex;
 align-items: flex-end;
 padding-top: 15rem;
 position: relative;
}

.fws__image {
 width: 100%;
 padding-top: 46%;
 background-image: url(images/15.jpeg);
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center bottom;
}

.fws__data {
 width: 100%;
 height: 100%;
 padding-top: 4rem;
 position: absolute;
 top: 0;
 left: 0;
}

.fws__data h2 {
 color: #1a2456;
 font-size: 3.8rem;
 font-weight: 600;
 line-height: 4.5rem;
 letter-spacing: .4rem;
 text-align: center;
}

.fws__data p {
 color: #1a2456;
 font-size: 1.9rem;
 font-weight: 300;
 margin-top: 1rem;
 line-height: 2.8rem;
 text-align: center;
}



/* +++++++++++++++++++++++++++++ */
/* PRODUCTS SECTION */
/* +++++++++++++++++++++++++++++ */
.products-section {
 background-color: #F0EFED;
 width: 100%;
}

.ps-container {
 margin: 0 auto;
 padding-block: 5rem;

 display: flex;
 flex-wrap: wrap;
}

.card {
 width: 100%;
 padding-inline: 1.5rem;
 flex-basis: 100%;
}

.card:nth-of-type(n+4) {
 margin-block-start: 2rem;
}

.card .card__image {
 width: 100%;
 padding-top: 101%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 transition: all 0.7s ease;
 -webkit-transition: all 0.7s ease;
 -moz-transition: all 0.7s ease;
 -ms-transition: all 0.7s ease;
 -o-transition: all 0.7s ease;
}

.card .card__image:hover {
 width: 100%;
 padding-top: 101%;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
 transition: all 0.7s ease;
 -webkit-transition: all 0.7s ease;
 -moz-transition: all 0.7s ease;
 -ms-transition: all 0.7s ease;
 -o-transition: all 0.7s ease;
}

/* IMAGE 1 */
.ps-card-1 .card__image {
 background-image: url(images/card-1.jpeg);
}

.ps-card-1 .card__image:hover {
 background-image: url(images/card-1-b.jpeg);
}

/* IMAGE 2 */
.ps-card-2 .card__image {
 background-image: url(images/card-2.jpeg);
}

.ps-card-2 .card__image:hover {
 background-image: url(images/card-2-b.jpeg);
}

/* IMAGE 3 */
.ps-card-3 .card__image {
 background-image: url(images/card-3.jpeg);
}

.ps-card-3 .card__image:hover {
 background-image: url(images/card-3-b.jpeg);
}

/* IMAGE 4 */
.ps-card-4 .card__image {
 background-image: url(images/card-4.jpeg);
}

.ps-card-4 .card__image:hover {
 background-image: url(images/card-4-b.jpeg);
}

/* IMAGE 5 */
.ps-card-5 .card__image {
 background-image: url(images/card-5.jpeg);
}

.ps-card-5 .card__image:hover {
 background-image: url(images/card-5-b.jpeg);
}

/* IMAGE 6 */
.ps-card-6 .card__image {
 background-image: url(images/card-6.jpeg);
}

.ps-card-6 .card__image:hover {
 background-image: url(images/card-6-b.jpeg);
}


.card__data {
 width: 100%;
 display: flex;
 justify-content: space-between;
 padding-block: 1rem;
}

.card__data--name h3 {
 font-size: 1.9rem;
 font-weight: 600;
 line-height: 2.3rem;
 letter-spacing: 0.15rem;
 color: #1a2456;
}

.card__data--price {
 min-width: 30%;
 position: relative;
 text-align: right;
}


.card__data--price .card__data__btn {
 position: absolute;
 top: 0;
 right: 0;

 border-radius: 5rem;
 border: none;
 background-color: #080b1b;
 opacity: 0;
 transition: all 0.5s ease;

}

.card:hover .card__data__btn {
 opacity: 1;
 transition: all 0.5s ease;

}

.card__data--price .btn p {
 font-size: 1.1rem;
 line-height: 1.7rem;
 font-weight: 600;
 padding: .5rem 1.5rem;
 color: #fff;
}

.card__data--price p {
 font-size: 1.5rem;
 font-weight: 300;
 line-height: 2.3rem;
 color: #1a2456;
}

.ps-card-4 .card__data--price .new-price {
 float: left;
 padding-left: 3rem;
 color: #ff8b68;
}



/* +++++++++++++++++++++++++++++ */
/* FOOTER SECTION */
/* +++++++++++++++++++++++++++++ */
.footer {
 width: 100vw;
 background-color: #1a2456;
}

.container {
 position: relative;
}

.footer-wrapper {
 padding: 4rem 0 10rem 0;

 display: flex;
 flex-wrap: wrap;
}


.footer__col {
 padding-inline: 2rem;
 flex-basis: 16.666666%;
}

.fw__col-5 {
 flex-basis: 33.333333%;
}


.footer__headers {
 color: #efc2b3;
 font-weight: 600;
 line-height: 1.6rem;
 font-size: 1rem;
 text-transform: uppercase;
 letter-spacing: .1rem;
}

footer a,
.address {
 color: #fff;
 font-size: 1.4rem;
 font-weight: 300;
 line-height: 2rem;
 color: #efc2b3;
 text-decoration: none;
}

footer a:hover {
 text-decoration: underline;
 color: #ff8b68;
 transition: 0.3s;
 -webkit-transition: 0.3s;
 -moz-transition: 0.3s;
 -ms-transition: 0.3s;
 -o-transition: 0.3s;
}

.list-menu,
.address {
 padding-top: 1.5rem;
}

.footer li {
 list-style-type: none;
 padding-bottom: .5rem;
}

.fw__col-5__subtitle,
.fw__col-5__copyrights {
 font-size: 1.4rem;
 font-weight: 300;
 line-height: 2rem;
 color: #efc2b3;
 padding-top: 1.2rem;
 text-transform: none;
 letter-spacing: 0;
}

.fw__col-5__copyrights {
 padding-bottom: 1.2rem;
}

.fw__col-5 {
 order: 1;
 flex-basis: 100%;
 /* position: relative; */
}

.form {
 margin-top: 1rem;
 display: flex;
 margin-bottom: 1rem;
}

.form__input {
 flex-grow: 1;
}

input[type="email"] {
 font-size: 1.4rem;
 padding: .5rem;
 line-height: 1.4rem;
 height: 3rem;
 width: 100%;
 background-color: transparent;
 border: thin solid #efc2b3;
}

.submit-btn {
 padding: .75rem 2.2rem;
 border: none;
 border-radius: 5rem;
 text-transform: uppercase;
 font-size: 1.1rem;
 font-weight: 600;
 background-color: #A48A92;
 letter-spacing: .1rem;
 margin-left: 1rem;
 cursor: pointer;
 transition: all 0.3s;
}

.submit-btn:hover {
 background-color: #ff8b68;
 transition: all 0.3s;
 -webkit-transition: all 0.3s;
 -moz-transition: all 0.3s;
 -ms-transition: all 0.3s;
 -o-transition: all 0.3s;
}

.social {
 display: flex;
 justify-content: space-between;
 margin-top: 1.8rem;
}

.social__li .bx {
 font-size: 3rem;
 transition: linear 0.3s;
 -webkit-transition: linear 0.3s;
 -moz-transition: linear 0.3s;
 -ms-transition: linear 0.3s;
 -o-transition: linear 0.3s;
}

.social__li {
 margin-right: 1rem;
}


small {
 font-size: .9rem;
}

.fw__col-5__copyrights a {
 color: #ff8b68;
 font-size: .9rem;
}

.fw__col-5__copyrights a:hover {
 color: #ff501c;
}

.fw__col-5 .form {
 display: flex;
 flex-wrap: wrap;
}

.fw__col-1 {
 order: 2;
 flex-basis: 50%;
 margin-top: 2rem;

}

.fw__col-2 {
 order: 3;
 flex-basis: 50%;
 margin-top: 2rem;

}

.fw__col-3 {
 order: 4;
 flex-basis: 50%;
 margin-top: 2rem;
}

.fw__col-4 {
 order: 5;
 flex-basis: 50%;
 margin-top: 2rem;
}




/* +++++++++++++++++++++++++++++ */
/* MEDIA QUERIES */
/* +++++++++++++++++++++++++++++ */
@media only screen and (min-width: 576px) {

 /* MIDDLE BANNER */
 .container {
  max-width: 54rem;
  margin-inline: auto;
  padding-inline: 2.2rem;
 }


 /* PRODUCTS SECTION */
 /* .container {
   max-width: 54rem;
   padding-inline: 2.2rem;
  } */

 .card {
  width: 100%;
  padding-inline: 2.2rem;
  flex-basis: 100%;
  margin-block-start: 2rem;
 }


 /* FOOTER SECTION */
 .fw__col-1 {
  order: 2;
 }

 .fw__col-2 {
  order: 3;
 }

 .fw__col-3 {
  order: 4;
  margin-top: 2rem;
 }

 .fw__col-4 {
  order: 5;
  margin-top: 2rem;

 }

 .fw__col-5 {
  order: 1;
 }

 .footer__col {
  padding-inline: 2rem;
  flex-basis: 50%;
 }

 .fw__col-5 {
  flex-basis: 100%;
 }

 .footer__headers {
  color: #ff501c;
 }

 .list-menu,
 .address {
  padding-top: .5rem;
 }

 .social {
  margin-bottom: 1rem;
  justify-content: space-around;
 }
}

@media only screen and (min-width: 768px) {

 /* MIDDLE BANNER */
 .fws__image {
  padding-top: 32%;
 }

 .container {
  max-width: 72rem;
  margin-inline: auto;
  padding-inline: 2.2rem;
 }


 /* PRODUCTS SECTION */
 /* .container {
   max-width: 72rem;
   padding-inline: 2.2rem;
  } */

 .card {
  max-width: 50%;
  flex-basis: 50%;
  margin-block-start: 2rem;
  padding-inline: .5rem;
 }


 /* FOOTER SECTION */
 .fw__col-1 {
  order: 1;
  margin-top: 0;
 }

 .fw__col-2 {
  order: 3;
 }

 .fw__col-3 {
  order: 4;
 }

 .fw__col-4 {
  order: 5;
 }

 .fw__col-5 {
  order: 2;
 }

 .footer__col {
  padding-inline: 2rem;
  flex-basis: 33.333333%;
 }

 .fw__col-5 {
  flex-basis: 66.666666%;
 }
}

@media only screen and (min-width: 992px) {

 /* MIDDLE BANNER */
 .container {
  max-width: 96rem;
  margin-inline: auto;
  padding-inline: 2.2rem;
 }


 /* PRODUCTS SECTION */
 /* .container {
   max-width: 96rem;
   padding-inline: 2.2rem;
  } */

 .card {
  max-width: 50%;
  flex-basis: 50%;
  margin-block-start: 2rem;
  padding-inline: 2rem;
 }



 /* FOOTER SECTION */
 .fw__col-1 {
  order: 1;
 }

 .fw__col-2 {
  order: 1;
  margin-top: 0;

 }

 .fw__col-3 {
  order: 1;
  margin-top: 0;
 }

 .fw__col-4 {
  order: 1;
  margin-top: 0;

 }

 .fw__col-5 {
  order: 1;
 }

 .footer__col {
  padding-inline: 2rem;
  flex-basis: 16.666666%;
 }

 .fw__col-5 {
  flex-basis: 33.333333%;
 }
}

@media only screen and (min-width: 1200px) {

 /* MIDDLE BANNER */
 .container {
  max-width: 114rem;
  margin-inline: auto;
  padding-inline: 2.2rem;
 }


 /* PRODUCTS SECTION */
 /* .container {
   max-width: 114rem;
   padding-inline: 2.2rem;
  } */

 .card {
  max-width: 33.3333%;
  flex-basis: 33.3333%;
  margin-block-start: 2rem;
  padding-inline: 2rem;
 }

 /* FOOTER SECTION */
 /* .footer-wrapper {
    max-width: 114rem;
    margin-inline: auto;
    padding-inline: 2.2rem;
   } */
}
